<footer class="bg-pink-900 p-5 rounded flex justify-center items-center">
    <p class="text-white">
        <small>&copy; Copyright</small>
        Smithan Kumar, 2022
    </p>
</footer>

</body>
</html>
